/* VARIABLES */

$progress-width: 100%;
$progress-height: .25em;

$font-family: 'Helvetica Neue';
$font-family-fallback: sans-serif;
$font-size: 1em;
$font-weight: 300;

$line-height: 1.5em;

$font-weight-headings: 300;

$h1-font-size: 2.25em;

/* COLORS */

$color: #6c6c6c;
$color-bg: #f5f7f9;
$color-progress-bg: #e5e9eb;

$color-green: #4cd964;
$color-turquoise: #5ac8fa;
$color-blue: #007aff;
$color-light-blue: #34aadc;
$color-purple: #5856d6;
$color-red: #ff2d55;

/* BASE */

html,
body {
  height: 100%;
}

body {
  background-color: $color-bg;
  color: $color;
  font: $font-weight #{$font-size}/#{$line-height} $font-family, $font-family-fallback;
  margin: 0;
  position: relative;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-headings;
  line-height: 1.2em;
  margin: 0 0 1.5em;
}

/* HELPERS */

.text-center {
  text-align: center;
}

/* GRID */

.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* PROGRESS */

.progress {
  background-color: $color-progress-bg;
  height: $progress-height;
  position: relative;
  width: $progress-width;

  &-bar {
    background-image: linear-gradient(to right, $color-green, $color-turquoise, $color-blue, $color-light-blue, $color-purple, $color-red);
    background-size: $progress-width $progress-height;
    height: 100%;
    position: relative;
    p {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translate(-40%);
      min-width: 115px;

    }
  }

  &-shadow {
    background-image: linear-gradient(to bottom, #eaecee, transparent);
    height: 4em;
    position: absolute;
    top: 100%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
  }

}
